@CHARSET "UTF-8";
@IMPORT url("/style/main.css");

/* ===============
 * Style for any side block
 * For example main menu and categories menu on the left side, random image panel and search panel on the right side
 * ===============
 */
/* Container for each block (header+body) */
div.sideblock {
	display: block !important;
}

/* Title */
div.sideblock-header {
	height: 19px;
	font-size: 11px;
	line-height: 19px;
	padding: 0 4px;
	cursor: pointer;
	position: relative;
	font-weight: bold;
}

/* Menu toggle-arrow, closed (not for permanent open) */
div.sideblock-header i {
	background: url('/style/1/img/spoiler.gif') no-repeat;
	position: absolute;
	top: 4px;
	right: 3px;
	width: 11px;
	height: 11px;
}

/* Menu toggle-arrow, open */
div.sideblock-header i.expanded {
	background: url('/style/1/img/spoiler.gif') no-repeat
		-11px;
}

/* Sideblock-header title style */
div.sideblock-header b {
	font-size: 11px;
	margin-left: 5px;
	position: relative;
	top: 2px;
}

/* Sideblock-body style */
ul.sideblock-body {
	margin: 0;
	padding: 0;
	font-size: 8pt;
	font-family: "Verdana";
	background-image: url('/style/1/img/ml.gif');
	text-align: left;
}

/* Each sideblock-body element style */
ul.sideblock-body>li {
	background: url('/style/1/img/lil.gif') no-repeat
		scroll left center transparent;
	padding: 0 0 0 15px;
	margin-left: 3px;
	width: 160px;
	position: relative;
	display: block;
	clear: both;
	width: auto;
}

/* Title for sideblock-body element */
ul.sideblock-body>li a {
	padding: 0;
	height: 12px;
	line-height: 12px;
}


/* Set the NEW image near the title of sideblock-body element */
ul.sideblock-body>li a[new]:after {
	content: "";
	background: url('/style/1/img/new.gif') no-repeat
		scroll right center transparent;
	width: 14px;
	height: 10px;
	display: block;
	margin: 3px 3px 0 0;
	position: absolute;
	top: 0;
	right: 0;
}

/* Set the small link near the title of sideblock-body element (for RSS-link for example) */
ul.sideblock-body>li div.smalllink {
	width: 21px;
	height: 11px;
	position: absolute;
	right: 5px;
	top: 0;
}

/* Specific style for left and right side  */
#panel-left div.sideblock-header {
	text-align: left;
	background-image: url('/style/1/img/mtl.gif');
}
#panel-right div.sideblock-header {
	text-align: right;
	background-image: url('/style/1/img/mtr.gif');
}


/* ===============
 * Style for the center container
 * ===============
 */
 #panel-content {
 	background: #000000 url('/style/1/img/bg.gif');
 	vertical-align: top;
 	padding: 0 0.9%;
 }
 
 
 
/* ===============
 * Delete style below
 * ===============
 */
table, tr, td {
	border-spacing: 0;
	padding: 0;
}

.container-fluid {
	width: 100%;
	border: none;
}

.tl, .newst {
	line-height: 7px;
}